<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO-APP</title>
</head>
<body>
    <h1>EDIT Note</h1>
        <form action="/edit-note/<%= jsonData.id %>/" method="POST">
            <input type="text" value="<%= jsonData.title %>" name="title">
            <input type="text" value="<%= jsonData.description %>" name="description">
            <select name="section">
                <option value="1" selected>Next Up</option>
                <option value="2">In Progress</option>
                <option value="3">Completed</option>
            </select>
            <button type="submit">Update</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <form action="/delete-note/<%= jsonData.id %>" method="POST">
            <button type="submit">Delete X</button>
        </form>
</body>
</html>